{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
{% include "admin/codemirror.inc.html" %}
<script type="text/javascript">
(function($){
  var opts = {
    lineNumbers: true,
    jumpToLine: true,
    tabSize: 2,
    mode: 'django'
  };
  $(function(){
    // fix for overlapping labels
    $('label[for="id_text_content"], label[for="id_html_content"]').css('display', 'none');
    // Text (for variables highlighting)
    CodeMirror.fromTextArea($('#id_text_content').get(0), opts);
    // HTML
    CodeMirror.fromTextArea($('#id_html_content').get(0), opts);
  });
})(jQuery || django.jQuery);
</script>
<style>
.CodeMirror {
  margin-top: 18px;
  height: 400px;
  background: #fafafa;
  border: 1px solid #ddd;
}
.cm-variable { color: #2c9bd4; font-weight: bold; }
.cm-property { color: #09649c; }

#emailtemplate-translations ol {
  margin: 0.8rem 0.5rem 0 0!important;
  padding: 0;
  list-style: none;
}
#emailtemplate-translations ol li {
  margin: 0 0.5rem 0 0;
  padding: 0;
  float: left;
}
#emailtemplate-translations ol li a {
  display: inline-block;
  padding: 4px 8px;
  background-color: #66bf7e;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
}
#emailtemplate-translations ol li a:hover {
  background-color: #61d480;
}
#emailtemplate-translations ol li a.disabled {
  background-color: #999;
  cursor: default;
}
</style>
{% endblock %}

{% block  object-tools %}
{{ block.super }}
{% if original.translations.exists %}
<div>
  <fieldset id="emailtemplate-translations" class="module aligned">
    <h2>Translations</h2>
    <ol>
      <li>
        <a href="#" class="disabled">{{ original.get_language_display }}</a>
      </li>
      {% for trans in original.translations %}
      <li>
        <a href="{% url "admin:emailhub_emailtemplate_change" trans.pk %}">{{ trans.get_language_display }}</a>
      </li>
      {% endfor %}
    </ol>
  </fieldset>
</div>
{% endif %}
{% endblock %}
