{% load admin_static %}
<link rel="stylesheet" href="{% static "emailhub/codemirror-5.40.0/lib/codemirror.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "emailhub/codemirror-5.40.0/addon/dialog/dialog.css" %}" type="text/css" />
<script src="{% static "emailhub/codemirror-5.40.0/lib/codemirror.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/addon/mode/overlay.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/addon/search/search.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/addon/search/searchcursor.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/addon/search/jump-to-line.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/addon/dialog/dialog.js" %}"></script>
<script src="{% static "emailhub/CodeMirror-contrib/mode/css/css.js" %}"></script>
<script src="{% static "emailhub/CodeMirror-contrib/mode/xml/xml.js" %}"></script>
<script src="{% static "emailhub/CodeMirror-contrib/mode/htmlmixed/htmlmixed.js" %}"></script>
<script src="{% static "emailhub/codemirror-5.40.0/mode/django/django.js" %}"></script>
