{% extends "emailhub/base.html" %}

{% block content %}
<h1>Email Inbox</h1>
<ul>
  {% for object in object_list %}
  <li>{{ object.date_created|date }} - {{ object.subject|title }}</li>
  {% empty %}
  <li>No email yet.</li>
  {% endfor %}
</ul>
{% endblock %}

